header.page-header
  display: flex
  justify-content: space-between
  height: 50px
  padding-left: 40px
  line-height: 50px
  h1
    font-size: 25px
    padding-right: 45px
  .search
    margin-left: -200px
    align-self: center
    display: flex
    align-items: center
    height: 32px
    box-sizing: border-box
    border: 1px solid lightgray
    label
      font-size: 9px
      padding-left: 5px
      padding-right: 5px
    input
      border: none
      border-left: 1px solid lightgray
      padding-left: 9px
      &:focus
        outline:none
    .icon-search
      font-size: 16px
      padding-right: 9px


.banner
  width: 960px
  height: (407/2)px
  background: url('../img/banner.jpg') no-repeat 
  background-size: contain
