.latest-news
  img#latest
    width: (831/2)px
    height: (466/2)px
  .news
    display: flex
  ul
    padding-left: 42px
  li
    position: relative
    font-size: 12px
    line-height: (78/2)px
    padding-left: 15px
    &:before
      content: ''
      position: absolute
      top: (78/4 - 3)px
      left: 0
      line-height: (78/2)px
      width: 6px
      height: 6px
      border-radius: 3px
      background-color: lightgray
  a:hover
    color: #428de7
    