header.section-header
  display: flex
  position: relative
  text-align: center
  height: (178/2)px
  h1
    align-self: center
    display: inline-block
    height: 30px
    line-height: 30px
    margin: 0 auto
    text-align: center
    font-size: 20px
    border-bottom: 6px solid lightgray
  a.more
    position: absolute
    right: 0
    display: inline-block
    height: (178/2)px
    line-height: (178/2)px  
    font-size: 10px
.section-wrapper 
  display: flex

@import 'latest_section'
@import 'important_section'
@import 'pub_event'